<h1>Update User</h1>
<h2>Id : {{id}}</h2>

<mat-divider></mat-divider>


<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Lindberg Luka"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="luka.lindberg@etu.univ-lyon1.fr"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Occupation</mat-label>
        <input matInput type="text" formControlName="occupation" placeholder="My Occupation is..."/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Bio</mat-label>
        <input matInput type="text" formControlName="bio" placeholder="This is a bio..."/>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Update</button>
</form>

<button mat-raised-button color="primary" routerLink="/users">Back to Users List</button>
  