h1{
    color : rgb(19, 19, 151);
    text-align: center;
    background-color: lightgrey;
    font-style : italic; 
    font-weight: 850;
    margin: 0;
}

button[mat-raised-button]{
    height: 2.5em;
}

#bar{
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}

#bar > *{
    margin: auto 0.5em;
}

mat-form-field{
    width: 25em;
}

.mat-column-name, .mat-column-email, .mat-column-occupation {
    flex: 0 0 25%;
}

mat-header-row{
    color:white;
    background-color: rgb(19, 19, 151);
}

.search{
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
    flex-direction: column;
}