<h1>{{title}}</h1>
<div id="bar">
    <div class="search">
        <mat-form-field>
            <mat-label>Search by Name</mat-label>
            <input matInput type="text" placeholder="name" [formControl]="nameInput" (keyup)="filterByInputs()">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Search by Mail</mat-label>
            <input matInput type="text" placeholder="mail" [formControl]="emailInput" (keyup)="filterByInputs()">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Search by Occupation</mat-label>
            <input matInput type="text" placeholder="occupation" [formControl]="occupationInput" (keyup)="filterByInputs()">
        </mat-form-field>
    </div>
    <a routerLink="/add"><button mat-raised-button color="primary">Add</button></a>
</div>
<mat-table [dataSource]="displayedUserList">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="occupation">
        <mat-header-cell *matHeaderCellDef> Occupation</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.occupation}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let user">
            <a routerLink="/user/{{user.id}}"><button mat-raised-button color="primary">Details</button></a>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let user">
            <a routerLink="/update/{{user.id}}"><button mat-raised-button color="primary">Update</button></a>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let user">
            <button mat-raised-button color="warn" (click)="deleteUser(user.id)">Delete</button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let user; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true">
</mat-paginator>