<h1>User Details</h1>

<mat-divider></mat-divider>

<div *ngIf="user">
    <p><strong>First Name:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Occupation:</strong> {{ user.occupation }}</p>
    <p><strong>Bio:</strong> {{user.bio}}</p>
</div>
  
<div *ngIf="!user">
    <p>Loading...</p>
</div>

<button mat-raised-button color="primary" routerLink="/users">Back to Users List</button>